body{
    font-family: 'Open Sans', sans-serif;
    background-color: #0a1014;
}
section p,section li{
    font-size: 15px;
    font-style: italic;
}
.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 100%;
    transition: width 0.7s ease-out;
}
h1{
    font-size: 35px;
    margin-block-start: 10px;
    background-color: #111b21;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    transition: font-size 0.2s;
    /* -moz-transition:font-size 0.2s; 
    -webkit-transition:font-size 0.2s; 
    -o-transition:font-size 0.2s; */
}
.datos-personales, .formacion-academica, .experiencia-laboral{
    color: rgba(255, 255, 255, 0.9);
    transition: padding-left 0.4s linear;
}
.datos-personales h2, .formacion-academica h2, .experiencia-laboral h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    
}
.datos-personales li, .formacion-academica li, .experiencia-laboral li{
    font-weight: 100;
    transition: font-weight 1s linear;
}

.datos-personales p, .formacion-academica p, .experiencia-laboral p{
    font-weight: 100;
}
.datos-personales li:hover, .formacion-academica li:hover, .experiencia-laboral li:hover,
.datos-personales p:hover, .formacion-academica p:hover, .experiencia-laboral p:hover,
.datos-personales h2:hover, .formacion-academica h2:hover, .experiencia-laboral h2:hover{
    font-weight: bold;

}
.negrita{
    font-weight:bolder;
}
.menu{
    text-align: center;
    }
.menu li{
    list-style-type: none;
    color: rgba(255, 255, 255, 0.9);
    display: inline;
    padding-right: 10px;
}
.menu li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.menu li a:hover{
    color: #005677;
}
.titulo-sobreMi{
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}
.foto:hover {
    background-color: rgba(107, 107, 107, 0.2);
    width: 13%;
}
.menu:hover{
    background-color: black;
}
h1:hover{
    font-size: 37px;
    font-weight: bolder;
}
.datos-personales:hover,.formacion-academica:hover, .experiencia-laboral:hover{
    padding-left: 10px;
}
footer{
    background-color: #005677;;
    color: #FFFF;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #FFFF;
    padding: 10px;
    font-size: 25px;
}